* {
    margin: 0;
    padding: 0;
}
.top .footer{
    width: 100%;
    background: #000;
    height: 50px;
}
.left .right{
    float: left;
    min-height: 600px;
    display: block;
}
.left{
    width: 200px;
    
}