body a {
    color: black;
}
.carousel-inner img {
    margin: 0 auto;
    height: 400px;
    width: 100%;
}
.hinh{
	height: 250px;
	max-width: 100%;
}
.mg{
    margin: 0 auto;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
.background{
    color: white;
    text-transform: uppercase;
    width: 100%;
    height: 150px;
}
.title{
    line-height: 5;
}
.img-blog{
    max-width: 100%;
    height: auto;
}
.img-product{
    max-width: 180px;
}
.products{
    padding: 0px 5px;
    width: 348px;
    margin-left: -42px;
    height: 250px;
    margin-top: 3px;
    list-style: none;
    font-weight: bold;
}
footer{
    background-color: #f0f0f0;
}
.title{
    font-weight: bold;
}
.danhsach{
    list-style-type: none;
    margin-left: -37px;
}