body a {
    color: black;
}
.carousel-inner img {
    margin: 0 auto;
    height: 400px;
    width: 100%;
}
.hinh{
	height: 250px;
	max-width: 100%;
}
.mg{
    margin: 0 auto;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
.background{
    color: white;
    text-transform: uppercase;
    width: 100%;
    height: 150px;
}
.title{
    line-height: 5;
}
.product{
    max-width: 100%;
    height: auto;
    text-align: left;
    font-weight: bold;
    position: relative;
}
.img-product:hover{
    max-width: 105%;
    display: block;
    width: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}
.product:hover .overlay {
    opacity: 1;
  }
.text {
    color: rgb(12, 7, 7);
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
footer{
    background-color: #f0f0f0;
}
.title{
    font-weight: bold;
}
.danhsach{
    list-style-type: none;
    margin-left: -37px;
}
.ten, .gia{
   text-align: center; 
}
.ten:hover{
    text-decoration: none;
    color: red;
}
.gia:hover{
    text-decoration: none;
    color: red;
}