body a {
    color: black;
}
h1{
    color: red;
}
/* .carousel-inner img {
    margin: 0 auto;
    height: 400px;
    width: 100%;
}
.hinh{
	height: 250px;
	max-width: 100%;
}
.mg{
    margin: 0 auto;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
footer{
    background-color: #f0f0f0;
}
.title{
    font-weight: bold;
}
.danhsach{
    list-style-type: none;
    margin-left: -37px;
} */